@model IEnumerable<THU_FORM.Models.SignUpModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home-page">
    <div class="container-fluid home-bg">

        <div class="row">

            <div class="col-sm-12 col-md-12 text-center home-page">
                <div class="main-logo" style="z-index:1; padding-top:0px;">
                    <img src="~/images/whitethu.png" width="300">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 text-center home-page">
                <div class=" col-sm-12">
                    @*雲林CSS*@
                    <h1 style=" color:white;">雲林 <span style="color:red;">㊗</span> 喜喜之日 </h1>
                </div>

                <!-- COUNTDOWN -->
                <div>
                    @*雲林CSS*@
                    <h1 id="demo" style="color: white; margin-bottom: -20%;">
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /#home-page -->

<section id="service-page">

    <div class="container">
        <div class="row">

            <div class="col-md-4 ">
                @*雲林CSS*@
                <h1 align="left" style="color: #b48d06;">AI東海，贏取未來</h1>
                @*<h2 align="left">畢業 &ne; 離別</h2>*@
                @*<h2 align="left">考試 &times; 升學 &times; 職場</h2>
                    <h2 align="left">畢業後各奔東西</h2>
                    <h2 align="left">朋友們一同相聚分享 </h2>
                    <h2 align="left">共創美好未來</h2>*@
                <h2 align="left" style="border-left: 5px solid #b48d06 ;">&nbsp; 友情  &times; 愛情 &times; 親情  </h2>
                <h2 align="left">人生能走得多遠，</h2>
                <h2 align="left">取決於道路上與誰相伴。</h2>
                <h2 align="left">祝福TOP MON每位新鮮人， </h2>
                <h2 align="left">都能與伴共結美好未來。</h2>
            </div>

            <div class="col-12 col-md-8 ">
                @*雲林CSS*@
                @Scripts.Render("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_sjkdv9eo.json" background="transparent" speed="1" style="width: 120%;" loop autoplay></lottie-player>
                @*AI東海的動畫*@
                @*https://assets5.lottiefiles.com/private_files/lf30_ysjb4sex.json*@
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /#service-page -->

<section id="about-page2">
    <div class="container">

        <div class="row" style="margin-top:5%;margin-bottom:5%;">
            <div class="col-6 col-md-4 col-sm-6 text-center service pt-2 pb-2">
                <i class="fa fa-thumbs-o-up"></i>
                @*雲林CSS*@
                <h1 class="about-title">雲林石虎  <span style="color:red;">㊗</span> 喜喜之日&hearts;</h1>
                <p>
                    @*雲林石虎  <span style="color:red;">㊗</span> 喜喜之日&hearts;<br><br>*@
                    @Html.ActionLink("📃 議程", "Theme", "Home", null, new { @style = "color:#b48d06;" })
                </p>
            </div>
            <div class="col-6 col-md-4 col-sm-6 text-center service pt-2 pb-2">
                <i class="fa fa-cutlery"></i>
                <h1 class="about-title"> 三好國際酒店</h1><p>
                    @*三好國際酒店<br><br>*@
                    <a href="http://www.sunhaohotel.com.tw/index.php?go=metting#a" target="_blank" style="color:#b48d06;">🍽️ Elegant饗宴</a>
                </p>
            </div>

            <div class="col-6 col-md-4 col-sm-6 text-center service pt-2 pb-2">
                <i class="fa fa-clock-o"></i>
                <h1 class="about-title">2022/09/09(五) </h1>
                <p>
                    @*2022/09/09(五) 至 2022/09/10(六)<br><br>*@
                    <a href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NDl2anZkbzg0NjdiOGFhNjF0YWRiZ21rdmogdHAyNTA0MkBt&amp;tmsrc=tp25042%40gmail.com" target="_blank" style="color:#b48d06;">🔔 添加行程至Google行事曆</a>
                </p>
                <p>
                    @*2022/09/09(五) 至 2022/09/10(六)<br><br>*@
                    <a href="https://calndr.link/e/mZFmRa8h9D?s=apple" target="_blank" style="color:#b48d06;">🔔 添加行程至Apple行事曆</a>
                </p>
            </div>
            @*<div class="col-6 col-md-3 col-sm-6 text-center service">
                    <i class="fa fa-align-justify"></i>
                    <h1 class="about-title">更多詳情</h1>
                    <p>@Html.ActionLink("議程", "Theme", "Home")</p>
                </div>*@
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /#about-page -->



<section id="contact-page ">
    <div class="container ">
        <div class="row " style=" padding-top: 40px; padding-bottom: 40px; ">
            <div class="col-md-12 text-center">
                <h1 class="contact-title text-center">報名聚會，把握機會</h1>
                <div class="service-aro-icon ">
                    <div class="service-aro-left "></div>
                    <i class="fa fa-rocket "></i>
                    <div class="service-aro-right "></div>
                </div>
                <div class="contact-form  ">
                    <div class="row align-items-center">
                        <div class="contact-form">
                            <div class="row ">
                                <div class="col-12">
                                    <div class="form-group ">
                                        <hr />
                                        @*雲林CSS*@
                                        @Html.ActionLink("立即報名!",  "Contact", "Home", null, new { @class = "btn btn-primary btn-lg submit-button ", style = "background-color:#b48d06;color:white !import;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*倒數計時器*@
<script>
    var countDownDate = new Date("September 09, 2022 8:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = days + " 天 " + hours + " 時 " +
            minutes + " 分 " + seconds + " 秒 ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "  報名截止  See you !  ";
        }
    }, 1000);
</script>

