@*@model IEnumerable<ThuForm.Models.RegistForm>*@
@{
    ViewBag.Title = "昂哥抱歉";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top:15%;">
    <div class="col-lg-12 mt-3" id="rookie">
        <div class="row text-center">           
            @Scripts.Render("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")
            <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_ecuofzs5.json" background="transparent" speed="1" style="margin-top:10%;" autoplay loop></lottie-player>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-10 text-center">
        <h1>很抱歉，系統發生錯誤</h1>
        <h1> 煩請您來信開噴👇</h1>
        <h1><a href="mailto:leekuantean@gmail.com">💌<u>系統管理員</u></a></h1><hr>
        <h1 style="margin-bottom:10%;">感溫蛤 ~ 🥰</h1>
    </div>
</div>
