@{
    ViewBag.Title = "Home Page";
}
<!------ 照片牆 ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/Content/photowall.css">

<!------ 照片牆 ---------->

<style>
    .map {
        margin-top: 20px;
    }

    td, b, h2, h6 {
        color: black !important;
    }

    td, tr {
        border: 1px solid !important;
        border-style: solid !important;
        border-color: #b48d06 !important;
    }

    td {
        padding: 0 2px 0 2px;
    }

    #about-page {
        padding: 100px 0 0 0 !important;
    }

    .filter-button {
        background-color: #b48d06;
        color: white;
        border-color: white;
    }

        .filter-button:hover, .filter-button:focus, .filter-button.active {
            background-color: white !important;
            color: #b48d06 !important;
            border-color: #b48d06 !important;
        }

    h1 {
        color: #b48d06;
    }
</style>



<section class="portfolio" id="portfolio">
    <div class="container-fluid">
        <div class="row">

            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <br>
                <h1 class="gallery-title" style="color: #b48d06;">活動講師群</h1>
                @*雲林遊*@
                <h3 class="gallery-subtitle"><span style="border-left: 5px solid #b48d06 ;">&nbsp; 本</span>次活動邀請到國內多位重量級大師及專業講師，來分享他們的專業知識和經驗</h3>
            </div>

            <div align="center">
                <button class="filter-button" data-filter="all">All</button>
                <button class="filter-button" data-filter="category1">公家單位</button>
                <button class="filter-button" data-filter="category2">民營單位</button>
            </div>

            <br />

            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                <a class="fancybox">
                    <img class="img-responsive" alt="" src="~/images/teacher/0326.jpg" />
                    <div class='img-info'>
                        <h4>中華郵政 資安管理員</h4>
                        <h4>璇璇海豹</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox">
                    <img class="img-responsive" alt="" src="~/images/teacher/400X250.jpg" />
                    <div class='img-info'>
                        <h4>ShopBack 前端工程師</h4>
                        <h4>J0hnny</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                <a class="fancybox">
                    <img class="img-responsive" alt="" src="~/images/teacher/yachu.jpg" />
                    <div class='img-info'>
                        <h4>法務部資訊處 分析師</h4>
                        <h4>Wenna</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox">
                    <img class="img-responsive" alt="" src="~/images/teacher/adam.jpg" />
                    <div class='img-info'>
                        <h4>勤業眾信 資安風險諮詢顧問</h4>
                        <h4>Adam</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox">
                    <img class="img-responsive" alt="" src="~/images/teacher/e..jpg" />
                    <div class='img-info'>
                        <h4>Garena 前端工程師</h4>
                        <h4>Rose</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox">
                    <img class="img-responsive" alt="" src="~/images/teacher/yang.jpg" />
                    <div class='img-info'>
                        <h4>PE Fund 研究員</h4>
                        <h4>Sam 誠君</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox">
                    <img class="img-responsive" alt="" src="~/images/teacher/jhao.jpg" />
                    <div class='img-info'>
                        <h4>(前)蝦皮購物 測試工程師 </h4>
                        <h4>趙姊</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox">
                    <img class="img-responsive" alt="" src="~/images/teacher/Limon.jpg" />
                    <div class='img-info'>
                        <h4>提克斯國際餐飲 執行長特助</h4>
                        <h4>黑狗 Daniel</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox">
                    <img class="img-responsive" alt="" src="~/images/teacher/mon.jpg" />
                    <div class='img-info'>
                        <h4>LT.C Content Creator</h4>
                        <h4>Allen Mon </h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox">
                    <img class="img-responsive" alt="" src="~/images/teacher/owen.jpg" />
                    <div class='img-info'>
                        <h4>今網通訊 股市研究員<br>( 兼 前端工程師 )</h4>
                        <h4>Owen</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox">
                    <img class="img-responsive" alt="" src="~/images/teacher/Ting.jpg" />
                    <div class='img-info'>
                        <h4>玉山銀行 應用系統工程師</h4>
                        <h4>阿冠</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                <a class="fancybox">
                    <img class="img-responsive" alt="" src="~/images/teacher/flower.jpg" />
                    <div class='img-info'>
                        <h4>臺北市政府資訊局 管理師</h4>
                        <h4>Rina</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- /#service-page -->
<!-- /#service-page -->

<section id="about-page">
    <div class="container" style="color:white;margin-top:-5%;">
        <div class="row" style="margin-left:15px;margin-right:15px;">
            <h1 style="color: #b48d06;margin-left:3%; border-left: 5px solid #b48d06;">&nbsp;祝福新人，拿好禮</h1>
            <div class="row" style="color:black !important;">
                <div class="col-12 text-left" style="margin: 0 10% 5% 10%;">1.&ensp;填寫報名表單並給予新人祝福，留言祝福數量前三名者將獲得精美好禮。</div>
                <div class="col-12 text-left" style="margin: 0 10% 5% 10%;">2.&ensp;表單欄位【聯絡方式】為統計之依據，請確保每次祝福的聯絡方式相同。</div>
                <div class="col-12 text-left" style="margin: 0 10% 5% 10%;">
                    3.&ensp; 統計至2022/09/09 18:00:00。
                </div>
                <div class="col-12 text-left" style="margin: 0 10% 5% 10%;">
                    4.&ensp;非祝福或吹捧新人或活動建議或有趣的留言，管理員將依照數位中介法執行刪除作業。
                </div>
                <div class="col-12 text-left" style="margin: 0 10% 5% 10%;">
                    5.&ensp;因活動方經費有限，當前三名超過3人時，採抽籤決定得獎者，敬請見諒。
                </div>
                <div class="col-12"  style="margin: 0 10% 5% 10%;"><span>👉</span><span  style="text-decoration: underline; margin: 0 10px !important;">@Html.ActionLink("前往報名 / 祝福 ~", "Contact", "Home", null, null)</span></div>
            </div>
            <h1 style="color: #b48d06;margin-left:3%; border-left: 5px solid #b48d06;">&nbsp;活動議程</h1>
            <table cellspacing="0" align="center">
                <!--<caption>Timetable</caption>-->
                <tr>
                    <td align="center" height="50" width="100">

                        <b>Day/Period</b>
                    </td>
                    <td colspan="3" align="center" height="50">
                        <b>週五</b>
                    </td>
                    <td colspan="3" align="center" height="50">
                        <b>週六</b>
                    </td>
                </tr>
                <tr>
                    <td align="center" height="50" width="100">
                        <b>I</b>
                    </td>
                    <td colspan="3" rowspan="3" align="center" height="50">
                        <h2 style="color:white">集<br><br>合<br></h2>
                    </td>
                    <td colspan="3" rowspan="3" align="center" height="50">
                        <h2 style="color:white">睡<br>到<br>飽<br></h2>
                    </td>
                <tr>
                    <td align="center" height="50" width="100">
                        <b>II</b>
                    </td>

                </tr>
                <tr>
                    <td align="center" height="50" width="100">
                        <b>III</b>
                    </td>
                </tr>
                <tr>
                    <td align="center" height="50" width="100">
                        <b>Lunch<br>12:30-14:00</b>
                    </td>
                    <td colspan="3" align="center" height="50">
                        <h2 style="color:white">樂比壽<br>天然鍋物<br> (斗六店) </h2>
                    </td>
                    <td colspan="3" align="center" height="50">
                        <h2 style="color:white">南投女婿<br>低調美食z</h2>
                    </td>

                </tr>
                <tr>
                    <td align="center" height="50" width="100">
                        <b>IV</b>
                    </td>
                    <td colspan="3" align="center" height="50">
                        <h2 style="color:white">古坑 <br>咖啡奧秘</h2>
                    </td>
                    <td colspan="3" align="center" height="50">
                        <h2 style="color:white">九九峰<br>動物樂園 </h2>
                    </td>
                </tr>
                <tr>
                    <td align="center" height="50" width="100">
                        <b>V</b>
                    </td>

                    <td colspan="3" align="center" height="50">
                        <h2 style="color:white">三好酒店<br>天作晚宴</h2>
                    </td>
                    <td colspan="3" align="center" height="50">
                        <h2 style="color:white">休息片刻</h2>
                        <h6>(會議預習)</h6>
                    </td>
                </tr>
                <tr>
                    <td align="center" height="50" width="100">
                        <b>VI</b>
                    </td>

                    <td colspan="3" align="center" height="50">
                        <h2 style="color:white">【會議】</h2>
                        <h6>石虎蹤跡預測<br>模型建置</h6>
                    </td>

                    <td colspan="3" align="center" height="50">
                        <h2 style="color:white">【會議】</h2>
                        <h6>動物愛好者景點<br>推薦系統建置</h6>
                    </td>
                </tr>
                <tr>
                    <td align="center" height="50" width="100">
                        <b>VII</b>
                    </td>

                    <td colspan="3" align="center" height="50">
                        <h2 style="color:white">南投 吳家莊園</h2>
                        <h6>Party All Night </h6>
                    </td>

                    <td colspan="3" align="center" height="50">
                        <h2 style="color:white">平安回程</h2>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /#about-page -->
<section id="service-page">

    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-6">
                <h1 align="left"><span style="border-left: 5px solid #b48d06 ;">&nbsp; 活</span>動地點</h1>
                <h2 align="left">雲林 - 三好國際酒店</h2>
                <span> 640雲林縣斗六市斗六五路35號</span>
                <h1 align="left"><span style="border-left: 5px solid #b48d06 ;">&nbsp; 交</span>通方式</h1>
                <h2 align="left">自行前往</h2>
                <span>高鐵雲林站 12:15 p.m.- 將有專員開車迎接</span>
                <h2 align="left">順風車&emsp;&emsp;</h2>
                <span>新北 頂埔捷運站 07:00 a.m. - 配有汽車一台</span>&emsp;<br>
                @*<span>2. &emsp;苗栗高鐵站 12:00 a.m. - 配有汽車一台</span><br>
                    <span>3. &emsp;台中高鐵站 9:30 a.m. - 配有汽車一台</span>&emsp;<span style="color:red; font-size:.8em">※已滿</span><br>*@
                @*<h1 align="left"><span style="border-left: 5px solid #b48d06 ;">&nbsp; 費用</span> : 1235元</h1>
                    <h2 align="left">包含：住宿費 $1235</h2>*@
                @*<h2 align="left">住宿費 $1235</h2>*@
                @*<span>包含：民宿一夜 + 工人智慧採草莓行程</span>*@
                @*<h2 align="left">公費 $765  ( 多退少補制 ) </h2>
                    <span>包含：火鍋食材 + 擂茶麻薯DIY體驗</span>*@
            </div>

            <div class="col-lg-6 ">
                <div class="map">
                    <iframe style="width: 100%; height: 450px; border: 0;" ; position: relative;"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14611.423871248659!2d120.53439283068846!3d23.716836999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa9182dfcd87f4bd3!2z5LiJ5aW95ZyL6Zqb6YWS5bqX!5e0!3m2!1szh-TW!2stw!4v1656955947443!5m2!1szh-TW!2stw" width="600" height="450" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
@*<script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });
        });
    </script>*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script src="~/Scripts/photowall.js"></script>

